.footer{
    border-top: 1px solid #eef2f2;
    font-size: .75em;
    color: #ababab;
    text-align: center;
    padding: 1em 0;
    margin: auto;
}
.footer p{
    margin-bottom: .4em;
   
}
.footer a{
    text-decoration: none;
    color: #3d83df;
    outline: 0;
    transition: all .2s ease 0s;
}
